.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  color: var(--text-color);
}

.sidebar {
  flex: 0 0 auto;
}

.content {
  width: 100%;
  padding: 10px;
}

@media (max-width: 960px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}