@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
  display: flex;
  font-family: "Montserrat";
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryWhite: #FFF;
  --primaryGrey: #656565;
  --primaryBlack: #111;
  --lightGrey: #CCC;
  --darkGrey: #333;
  --primaryButtonHoverColor: #585858;
  --secondaryButtonColor: #EF4934;
  --secondaryButtonHoverColor: #D43824;
  --secondaryGrey: #E1E1E1;
  --greyHover: #F1F1F1;
}

p {
  color: var(--textColor);
  margin: 0;
  font-weight: 400;
  font-size: 22px;
}

h1 {
  margin: 0;
  line-height: 1;
}

h2 {
  color: var(--textColor);
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

button {
  border: none;
  padding: .6em 1.2em;
  font-family: "Montserrat";
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

input {
  padding: 0;
  box-sizing: border-box;
  outline: none;
  padding-block: unset;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  caret-color: var(--loginInput);
  -webkit-text-fill-color: var(--loginInput) !important;
}

.bold-hover {
  position: relative;
  transition: .2s ease all;
}

.bold-hover::before {
  content: attr(data-hover);
  font-weight: 700;
  visibility: hidden;
}

.bold-hover > span {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.bold-hover:hover {
  font-weight: 700;
}

@media (prefers-color-scheme: light) {

  :root {
    background-color: var(--primaryWhite);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}